module {{.Name}}

go 1.14


require (
	github.com/douyu/jupiter latest
	github.com/labstack/echo/v4 v4.1.16
	golang.org/x/net v0.0.0-20200506145744-7e3656a0809f // indirect
	google.golang.org/grpc v1.26.0
)
