name: e2e-test

on:
  push:
    paths-ignore:
      - "website/**"
    branches:
      - "master"
  pull_request:
    paths-ignore:
      - "website/**"
    branches:
      - "master"

jobs:
  e2e-test:
    name: Test on ubuntu
    strategy:
      fail-fast: true
      matrix:
        go: ["1.18.x"]
    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.1.0

      - name: docker-compose
        run: docker-compose -f test/docker-compose.yaml up -d

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Install ginkgo
        run: |
          go install github.com/onsi/ginkgo/v2/ginkgo@latest
          sudo cp ~/go/bin/ginkgo /usr/local/bin

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go-version }}-

      - name: Get dependencies
        run: |
          go env
          go mod tidy && git diff --exit-code go.mod go.sum

      - name: E2E test
        run: |
          make e2e-test
