name: golangci-lint

on:
  push:
    paths-ignore:
      - "website/**"
    branches:
      - "master"
  pull_request:
    paths-ignore:
      - "website/**"
    branches:
      - "master"

jobs:
  lint:
    name: Lint
    strategy:
      fail-fast: true
      matrix:
        go: ["1.19.x"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: golangci-lint
        if: runner.os != 'Windows'
        uses: golangci/golangci-lint-action@v3.7.0
        with:
          version: v1.50.1
          args: "--out-${NO_FUTURE}format colored-line-number"

      - name: golangci-lint
        if: runner.os == 'Windows'
        uses: golangci/golangci-lint-action@v3.7.0
        env:
          nofuture: out-format
        with:
          version: v1.50.1
          args: "--%nofuture% colored-line-number"
