name: golangci-lint

on:
  push:
    paths-ignore:
      - "website/**"
    branches:
      - "master"
  pull_request:
    paths-ignore:
      - "website/**"
    branches:
      - "master"

jobs:
  lint:
    name: Lint
    strategy:
      fail-fast: true
      matrix:
        go: ["1.18.x", "1.19.x"]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.1.0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.3.1
        with:
          version: v1.50.1
