name: golangci-lint

on:
  push:
    paths-ignore:
      - "website/**"
    branches:
      - "master"
  pull_request:
    paths-ignore:
      - "website/**"
    branches:
      - "master"

jobs:
  lint:
    name: Lint
    strategy:
      fail-fast: true
      matrix:
        go: ["1.23.x"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.62
          args: --out-format colored-line-number
